@using TechJobsPersistent.ViewModels;
@model AddJobViewModel;

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmployerId">Employers</label>
        <select asp-for="EmployerId" asp-items="Model.Employers"></select>
        <span asp-validation-for="EmployerId"></span>
        </div>

        <div class="form-group">
            @foreach (var s in Model.Skills)
            {
                <label>@s.Name</label>
                <input type="checkbox" name="selectedSkills" value="@s.Id" />
            }
        </div>

        <input type="submit" value="Add Job" />
</form>

<p><a asp-controller="Employer" asp-action="Add">Add Employer</a>.</p>
<p><a asp-controller="Skill" asp-action="Add">Add Skill</a>.</p>